
.container{
    text-align: center;
}
#toolbar{
    background-image: url("bg1.png");
    width: 95px;
    height: 550px;
    float: left;
    line-height: 10px;
    text-align: center;
}
#cvs{
    background-image: url("bg2.png");
    width: 850px;
    height: 550px;
    margin-left: 95px;
}

#mycanvas{
    margin-top: 20px;
    margin-left: 5px;
    background-color: white;
    
}


.display{
    background-color: black;
    border-color: black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    width: 97%;
    padding-top: 10%;
    font-size:50px;
    text-align: right;  
}    

.btn {
    width: 40px;
    height: 40px;
    margin-top: 5%;
}
.btn2{
    background: orange;
}
.btn3{
    background: rgb(172, 170, 170);
}
.btn:hover {
    background: #336699;
    color: #FFFFFF;
}	